{% extends "Card/index.twig" %}

{% block header %}
    {{ parent() }}
    {% if cards is empty %}
        <a href="/card/list">->List cards (by customer)</a>
    {% else %}
        <a href="/card/listAll">->List all cards (by openpay) </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% if cards is not empty %}
        <h1>List cards:</h1>
        <table border="1">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Card Number</th>
            <th>Holder Name</th>
            <th>Expiration Year</th>
            <th>Expiration Month</th>
            <th>Creation Date</th>
            <th>Customer ID</th>
            <th>Bank Name</th>
        </tr>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.type }}</td>
                <td>{{ card.brand }}</td>
                <td>{{ card.card_number }}</td>
                <td>{{ card.holder_name }}</td>
                <td>{{ card.expiration_year }}</td>
                <td>{{ card.expiration_month }}</td>
                <td>{{ card.creation_date }}</td>
                <td>{{ card.customer_id }}</td>
                <td>{{ card.bank_name }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No cards so far<a/p>
        <form action="/card/doList" type="POST">
            <h3>Date format YYYY-MM-DD</h3><br>
            <input type="text" placeholder="Optional customer id" name="customer_id">
            <input type="text" placeholder="Card creation start date" name="creation_gte">
            <input type="text" placeholder="Card creation end data" name="creation_lte">
            <h4>Offset in the card list output</h4>
            <input type="text" name="offset" placeholder="Offset of the card list" value="0">
            <h4>Card list output limited by count</h4>
            <input type="text" name="limit" placeholder="Ouput limited by count" value="10"><br>
            <input type="submit" value="Show cards">
        </form>
    {% endif %}
{% endblock %}